@model IEnumerable<Hospital_Project.Models.Patient>
@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
	<a asp-action="Create">Create New</a> | <a asp-controller="Appointments" asp-action="Create">Book an appointment</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FileNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PatientFullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfBirth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PatientEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PatientPhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FileNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PatientFullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfBirth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PatientEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PatientPhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PatientId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PatientId">Details</a> 
                    @if (User.IsInRole("Admin"))
                    {
                        <a asp-action="Delete" asp-route-id="@item.PatientId">| Delete</a>
                    }

                
            </td>
        </tr>
}
    </tbody>
</table>
